<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testcases.TC_01_HomePageTest" />
			<class name="testcases.TC_02_EMICalculatorTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->